svg
  max-width: 600px
.Prompt
  font-size: 2em
.QuestionConfig
  button
    margin-right: 0.5em
    background: #111
    border-color: #2a8
    &:hover, &:active
      background: #111
  button.Selected
    &, &:hover, &:active
      background: #2a8
      color: #000
